# Mac OS
.DS_Store

# NPM
/node_modules
npm-*
/package-lock.json

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# Scratch portable
/data
/assets/*.svg
/assets/*.wav
/assets/*.png
/public
/distrib
/admin/node_modules
/server/node_modules

# generated translation files
/translations
/locale
